*,
::before,
::after {
	box-sizing: border-box;
	border-width: 0;
	border-style: solid;
	border-color: hsl(var(--nta-border))
}

* {
	margin: 0;
}

html {
	font-feature-settings: "cv02", "cv03", "cv04", "cv11";
	color-scheme: dark;
	accent-color: var(--nta-color-accent);
	line-height: 1.5;
	-webkit-text-size-adjust: 100%;
	-moz-tab-size: 4;
	tab-size: 4;
}

html[data-theme='light'] {
	color-scheme: light;
}

body {
	font-family: var(--nta-internal-font);
	line-height: var(--nta-line-height);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: var(--nta-foreground);
	background-color: var(--nta-background);
	margin: 0;
	line-height: inherit;
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-feature-settings: inherit;
	font-variation-settings: inherit;
	font-size: 100%;
	font-weight: inherit;
	line-height: inherit;
	color: inherit;
	margin: 0;
	padding: 0;
}

button,
select {
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
code {
	overflow-wrap: anywhere;
}

a {
	color: inherit;
	text-decoration: inherit;
}

b,
strong {
	font-weight: bolder;
}

code,
kbd,
samp,
pre {
	font-family: var(--nta-internal-font-mono);
	font-size: 1em;
}

svg {
    display: block;
    vertical-align: middle;
    overflow: visible
}
